  
 body {
    background-color: #d17e12;
}

.container {
    background-color: #fff;
    width: 1000px;
    margin: auto;
}
.OSU {
    height: 200px;
    width: 200px;
}

.header {
    background-color: #208eb9;
    color: white;
    text-align: center;
    padding-top: 3%;

}

.content{
    padding: 20px;
    display: flex;

}

.image{
    width: 310px;
    
}

.text{
    width: 650px;
}

.footer{
    text-align:center;

}
